/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./Components/Avatar/css/Avatar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Avatar_avatar__P_B2S {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Avatar_circle__wy0LA {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  margin-left: -1.7rem;
  padding: 1.5px;
  border: 1.5px var(--text-grey) solid;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff50;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;

  .Avatar_p__I4Tle {
    font-size: 0.7rem;
    font-family: var(--font);
    color: var(--text-grey);
  }
}

.Avatar_circle__wy0LA:hover {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}

.Avatar_circle__wy0LA:first-child {
  margin-left: 0;
}

.Avatar_image__eqV6T {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./Components/Home/CompanyLogo/css/CompanyLogo.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.CompanyLogo_container__9lb8I {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background: #fff;

  @media screen and (max-width: 1000px) {
    height: 30vh;
  }
}

.CompanyLogo_logos__NAETL {
  height: 50vh;
  width: 153rem;
  overflow-x: auto !important;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10rem;
  gap: 3rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: CompanyLogo_scrollX__ZidZm 40s linear infinite;
  -webkit-animation: CompanyLogo_scrollX__ZidZm 40s linear infinite;

  @media screen and (max-width: 1000px) {
    padding: 0 5rem;
    height: 30vh;
  }

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
  .CompanyLogo_logo__Q1Oxa {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    padding: 2rem;
    border: 0.5px solid #77777720;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
  }

  .CompanyLogo_logo__Q1Oxa:hover {
    border: 0.5px solid var(--primary-color);
  }
}

.CompanyLogo_logos__NAETL::-webkit-scrollbar {
  display: none;
}

.CompanyLogo_logos__NAETL:hover {
  animation-play-state: paused;
}

@keyframes CompanyLogo_scrollX__ZidZm {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  50% {
    transform: translateX(-153rem);
    -webkit-transform: translateX(-153rem);
    -moz-transform: translateX(-153rem);
    -ms-transform: translateX(-153rem);
    -o-transform: translateX(-153rem);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

