/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./Components/Avatar/css/Avatar.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Avatar_avatar__P_B2S {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Avatar_circle__wy0LA {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  margin-left: -1.7rem;
  padding: 1.5px;
  border: 1.5px var(--text-grey) solid;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff50;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;

  .Avatar_p__I4Tle {
    font-size: 0.7rem;
    font-family: var(--font);
    color: var(--text-grey);
  }
}

.Avatar_circle__wy0LA:hover {
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
}

.Avatar_circle__wy0LA:first-child {
  margin-left: 0;
}

.Avatar_image__eqV6T {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./Components/Common/Header/(css)/Header.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/

.Header_navbar__n9qh6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff50;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 90vw;
  height: 8vh;
  padding: 1.5rem;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 100px;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;

  @media screen and (max-width: 1000px) {
    height: 6vh;
  }

  @media screen and (max-width: 768px) {
    height: 7vh;
    width: 95vw;
    top: 0.5rem;
  }
}

.Header_menu__FmXmZ {
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.Header_menu__FmXmZ ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Header_menu__FmXmZ li {
  margin-right: 1rem;
}

.Header_logoimg__G7nW3 {
  height: auto;
  width: 7rem;
  object-fit: cover;

  @media screen and (max-width: 768px) {
    width: 5.5rem;
  }
}

.Header_menu__FmXmZ a {
  font-size: 0.9rem;
  color: var(--text-grey);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-family: var(--font);
}

.Header_menu__FmXmZ a:hover {
  color: var(--secondary-color);
}

.Header_menu__FmXmZ .Header_login__2eZJn {
  color: var(--primary-color);
  font-size: 1rem;
}

.Header_menu__FmXmZ .Header_login__2eZJn:hover {
  color: var(--secondary-color);
}

.Header_navbar__n9qh6 .Header_ctaButton__eMVSv {
  @media screen and (max-width: 1000px) {
    margin-right: 5rem;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.Header_ctaButton__eMVSv button {
  font-family: var(--font);
  font-size: 0.8rem;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid var(--text-color);
  background: transparent;
  box-shadow: 5px 5px var(--text-color);
  cursor: pointer;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.Header_ctaButton__eMVSv:active button {
  box-shadow: none;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
}

.Header_navbar__n9qh6 .Header_bar__e_YoE {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  right: 1rem;

  @media screen and (max-width: 1000px) {
    display: block;

    .Header_h1__8XAfG {
      font-family: var(--normal-font-gort);
      font-family: var(--font);
      font-size: 1.3rem;
      color: var(--text-color);
      text-decoration: none;
      letter-spacing: 0.5px;
    }
  }
}

.Header_sidebarbg__cLVKv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1002;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  display: none;

  @media screen and (max-width: 1000px) {
    display: block;
  }
}

.Header_sidebarContainer__FFWgx {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 70vw;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
  transition: 0.3s all ease-in-out;
  -webkit-transition: 0.3s all ease-in-out;
  -moz-transition: 0.3s all ease-in-out;
  -ms-transition: 0.3s all ease-in-out;
  -o-transition: 0.3s all ease-in-out;
  padding: 2rem;
  padding-top: 5rem;
  display: none;

  @media screen and (max-width: 1000px) {
    display: flex;
  }

  .Header_content__fuipH {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1003;
    width: 100%;
    background: #ffffff;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    padding: 0 2rem;

    .Header_menu__FmXmZ {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .Header_ul__Rk9cv {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;

        @media screen and (max-width: 1000px) {
          gap: 3rem;
        }

        @media screen and (max-width: 768px) {
          gap: 2rem;
        }

        .Header_li__u9MwK {
          margin-right: 1rem;
        }

        .Header_a__TnDec {
          font-size: 1.2rem;
          color: var(--text-grey);
          text-decoration: none;
          transition: color 0.2s ease-in-out;
          font-family: var(--mid-font);
        }

        .Header_a__TnDec:hover {
          color: var(--secondary-color);
        }

        .Header_login__2eZJn {
          background: var(--primary-color);
          font-size: 1rem;
          color: var(--white-bg);
          padding: 0.7rem 1.5rem;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          margin: 1rem 0;
        }

        .Header_login__2eZJn:hover {
          background: var(--secondary-color);
        }

        .Header_button__CT8gp {
          font-family: var(--font);
          font-size: 0.8rem;
          color: var(--text-color);
          padding: 10px 20px;
          border-radius: 100px;
          border: 2px solid var(--text-color);
          background: transparent;
          box-shadow: 5px 5px var(--text-color);
          cursor: pointer;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          -o-border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .Header_button__CT8gp {
          box-shadow: none;
          transform: translate(5px, 5px);
          -webkit-transform: translate(5px, 5px);
          -moz-transform: translate(5px, 5px);
          -ms-transform: translate(5px, 5px);
          -o-transform: translate(5px, 5px);
        }
      }
    }

    .Header_logo__CqFRC {
      .Header_a__TnDec {
        .Header_logoimg__G7nW3 {
          height: 5rem;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .Header_bar__e_YoE {
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 1100;
    right: 2rem;
    top: 1rem;

    @media screen and (max-width: 1000px) {
      display: block;

      .Header_h1__8XAfG {
        font-size: 3rem;
        color: var(--text-color);
        text-decoration: none;
        letter-spacing: 0.5px;
      }
    }
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./Components/Home/CompanyLogo/css/CompanyLogo.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.CompanyLogo_container__9lb8I {
  height: 50vh;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    height: 30vh;
  }
}

.CompanyLogo_logos__NAETL {
  height: 50vh;
  width: 153rem;
  overflow-x: auto !important;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10rem;
  gap: 3rem;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  animation: CompanyLogo_scrollX__ZidZm 40s linear infinite;
  -webkit-animation: CompanyLogo_scrollX__ZidZm 40s linear infinite;

  @media screen and (max-width: 1000px) {
    padding: 0 5rem;
    height: 30vh;
  }

  @media screen and (max-width: 768px) {
    padding: 0 1rem;
  }
  .CompanyLogo_logo__Q1Oxa {
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    padding: 2rem;
    border: 0.5px solid #77777720;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
  }

  .CompanyLogo_logo__Q1Oxa:hover {
    border: 0.5px solid var(--primary-color);
  }
}

.CompanyLogo_logos__NAETL::-webkit-scrollbar {
  display: none;
}

.CompanyLogo_logos__NAETL:hover {
  animation-play-state: paused;
}

@keyframes CompanyLogo_scrollX__ZidZm {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  50% {
    transform: translateX(-153rem);
    -webkit-transform: translateX(-153rem);
    -moz-transform: translateX(-153rem);
    -ms-transform: translateX(-153rem);
    -o-transform: translateX(-153rem);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

